/*Author : Dmytro Dovhalenko xdovha00*/
body {
    background-image: url("../Img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

.content__wrapper{
    display: flex;
    flex-direction: row;
}